body {
    padding-top: 78px;
}
.table-stack {
    width: 100%;
}
.table-stack-large {
    display: table;
}
.table-stack-small {
    display: none;
}
@media (max-width: 767px) {
    .table-stack-large { 
      display: none;
    }
    .table-stack-small {
        display: table;
    }
}
.st-head-row-main {
    display: none;
}
.st-key {
    width: 20%;
    text-align: right;
}
.table-stack-small:not([class]) {
    height: 7.5px;
}
