body {
    padding-top: 78px;
}
#notifBox {
    position: fixed;
    width: 50%;
    top: 10px;
    left: 50%;
    margin-left: -25%;
    z-index: 1030;
}
.alert {
    margin-bottom: 5px;
}
.alert .controls {
    float: right;
    margin-right: -20px;
}
.alert .controls button {
    margin-left: 5px;
}
.modal-body {
    padding-bottom: 10px;
}
.modal-footer {
    margin-top: 0;
}
.table-stack {
    width: 100%;
}
.table-stack-large {
    display: table;
}
.table-stack-small {
    display: none;
}
table button {
    margin-right: 5px;
}
@media (max-width: 767px) {
    .table-stack-large { 
      display: none;
    }
    .table-stack-small {
        display: table;
    }
    table button {
        margin-right: 5px;
    }
}
.st-head-row {
    font-weight: normal;
}
.st-head-row-main {
    display: none;
}
.st-key {
    width: 20%;
    text-align: right;
}
tr.row-info {
    background-color: #d9edf7;
}
tr.row-success {
    background-color: #dff0d8;
}
tr.row-warning {
    background-color: #fcf8e3;
}
tr.row-danger {
    background-color: #f2dede;
}
td.pos, th.pos {
    width: 40px;
    text-align: center;
    cursor: pointer;
}
td.controls {
    width: 1px;
    white-space: nowrap;
}
ul.dropdown-menu li {
    text-align: left;
    cursor: pointer;
}
#frmImport {
    display: none;
}
