body {
    padding-top: 78px;
}
.table-stack {
    width: 100%;
}
.table-stack-large {
    display: table;
}
.table-stack-small {
    display: none;
}
table button {
    margin-right: 5px;
}
@media (max-width: 767px) {
    .table-stack-large { 
      display: none;
    }
    .table-stack-small {
        display: table;
    }
    table button {
        margin-right: 5px;
    }
}
.st-head-row {
    font-weight: normal;
}
.st-head-row-main {
    display: none;
}
.st-key {
    width: 20%;
    text-align: right;
}
ul.dropdown-menu li {
    text-align: left;
    cursor: pointer;
}
